.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
.DS_Store
Temporal_project.Rproj
/Data/
/Contrato/
/Products/
/_extensions/
/Documents/
/Paper_Temp and BW/
/Code/Test_codes/
.Rhistory (Copia en conflicto de José Conejeros 2024-05-28)
